/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.checkstyle
*.swp
*.bak

### IntelliJ IDEA ###
*.iws
.idea
*.iml
*.ipr

### Mac ###
/.DS_Store

### Maven ###
/mvnw
/mvnw.cmd
/.mvn/
#!.mvn/wrapper/maven-wrapper.jar

### VS Code ###
.vscode/
/work/

### JVM error logs ###
*hs_err_pid*.log
